<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define ComponentRules="OneToOne"?>
  <!-- SourceDir instructs IsWiX the location of the directory that contains files for this merge module -->
  <?define SourceDir="..\Deploy"?>
  <Module Id="WindowsServiceMM" Language="1033" Version="1.0.0.0">
    <Package Id="f485ebde-f813-4089-be83-21337603b378" Manufacturer="WindowsServiceMM" InstallerVersion="200" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder">
        <Component Id="owcB7461B87B05DCA45F57E1CB0917F32A7" Guid="380bbddd-daa7-0744-517b-37da768f5570">
          <File Id="owfB7461B87B05DCA45F57E1CB0917F32A7" Source="$(var.SourceDir)\WindowsService.exe" KeyPath="yes" />
          <ServiceInstall Id="siF770D836174E9A49A8D9BCEDBBCFF267" Name="WindowsService" DisplayName="WindowsService" Description="WindowsService" ErrorControl="normal" Start="auto" Type="ownProcess" />
          <ServiceControl Id="scF770D836174E9A49A8D9BCEDBBCFF267" Name="WindowsService" Start="install" Stop="both" Remove="both" Wait="yes" />
        </Component>
      </Directory>
    </Directory>
    <ComponentGroupRef Id="Custom" />
  </Module>
</Wix>