<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment><Feature Id="WorkerService" Title="WorkerService" Description="Installs all the files needed for WorkerService" Level="1" AllowAdvertise="no" ConfigurableDirectory="INSTALLLOCATION">
      <MergeRef Id="WorkerServiceMM" />
      <!-- Uncomment the below line to pull in IIS Metadata.  Otherwise delete if not needed -->
      <!--<ComponentGroupRef Id="webSite" />-->
    </Feature>
  
      <StandardDirectory Id="ProgramFiles6432Folder">
        <Directory Id="CompanyFolder" Name="My Company">
          <Directory Id="INSTALLLOCATION" Name="WorkerService">
            <Merge Id="WorkerServiceMM" SourceFile="$(var.WorkerServiceMM.TargetPath)" DiskId="1" Language="1033" />
          </Directory>
        </Directory>
      </StandardDirectory>
    </Fragment>
</Wix>