<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define ComponentRules="OneToOne"?>
  <!-- SourceDir instructs IsWiX the location of the directory that contains files for this merge module -->
  <?define SourceDir="..\Deploy"?>
  <Module Id="WebAppMM" Language="1033" Version="1.0.0.0">
    <Package Id="d5e3201b-6b9d-436a-b514-f3087d28475d" Manufacturer="WebAppMM" InstallerVersion="200" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder">
        <Directory Id="owd7EC1B11923C34664BC418072E67046F6" Name="WebSite">
          <Component Id="owc8E41C4B2B2A6787B4C06C2A166A1DDBE" Guid="df5ec153-160a-c7f7-fd9d-70d0954e394f">
            <File Id="owf8E41C4B2B2A6787B4C06C2A166A1DDBE" Source="$(var.SourceDir)\WebSite\favicon.ico" KeyPath="yes" />
          </Component>
          <Component Id="owc4B6D5BA5276F4BDD1DD6598B12105545" Guid="bc0f32ae-b043-2375-8c11-c23c6504c525">
            <File Id="owf4B6D5BA5276F4BDD1DD6598B12105545" Source="$(var.SourceDir)\WebSite\Global.asax" KeyPath="yes" />
          </Component>
          <Component Id="owc9F945A5A2932B6ABCCC366BE0CDF1B32" Guid="f24ff507-7e3e-d614-ec6a-ddb558b766bc">
            <File Id="owf9F945A5A2932B6ABCCC366BE0CDF1B32" Source="$(var.SourceDir)\WebSite\packages.config" KeyPath="yes" />
          </Component>
          <Component Id="owc17F0ED4422E9CB4943EB47850B1E187C" Guid="88f71269-d94f-aae6-a588-a33b8a989edd">
            <File Id="owf17F0ED4422E9CB4943EB47850B1E187C" Source="$(var.SourceDir)\WebSite\Web.config" KeyPath="yes" />
          </Component>
          <Directory Id="owdC5FDC1CCE886C4E84CD221E32F93967B" Name="Areas">
            <Directory Id="owdE2DF5C3ED69E5E8219AE6AAF6F8EDD1B" Name="HelpPage">
              <Component Id="owcF3F4ED77A20B9571ACEB8A9FFD71DD2B" Guid="3976d4db-9bb7-e2dc-e03d-031324a9f533">
                <File Id="owfF3F4ED77A20B9571ACEB8A9FFD71DD2B" Source="$(var.SourceDir)\WebSite\Areas\HelpPage\HelpPage.css" KeyPath="yes" />
              </Component>
              <Directory Id="owd88B98CABFDE104E8062EEDEF6F7B080F" Name="Views">
                <Component Id="owcEA764F8531C70CE7C7EDAFBF5E7D27BD" Guid="efa76f3f-8711-8ba6-6ce5-83361916a170">
                  <File Id="owfEA764F8531C70CE7C7EDAFBF5E7D27BD" Source="$(var.SourceDir)\WebSite\Areas\HelpPage\Views\_ViewStart.cshtml" KeyPath="yes" />
                </Component>
                <Component Id="owc16ABD0F956DF2EA415237A5E2B1C9DB5" Guid="3390eff3-4de5-57a1-5273-a144ce922d86">
                  <File Id="owf16ABD0F956DF2EA415237A5E2B1C9DB5" Source="$(var.SourceDir)\WebSite\Areas\HelpPage\Views\Web.config" KeyPath="yes" />
                </Component>
                <Directory Id="owd9F122C51CB00882AE525418BD6BFFB8D" Name="Help">
                  <Component Id="owc66FB5D9B9133B2964463EF82EBB0A7E1" Guid="cd4a8b57-d84a-004a-1402-b14e43cfe741">
                    <File Id="owf66FB5D9B9133B2964463EF82EBB0A7E1" Source="$(var.SourceDir)\WebSite\Areas\HelpPage\Views\Help\Api.cshtml" KeyPath="yes" />
                  </Component>
                  <Component Id="owc12894549AC5B496E0368EF2B3E4C3F8E" Guid="0ba18338-1837-039c-a315-5c7eba8517af">
                    <File Id="owf12894549AC5B496E0368EF2B3E4C3F8E" Source="$(var.SourceDir)\WebSite\Areas\HelpPage\Views\Help\Index.cshtml" KeyPath="yes" />
                  </Component>
                  <Component Id="owcCEF58F74FDA54FBB2889774CFC93D831" Guid="fe9d9a6b-8f13-27ba-e2c2-121f8d7dfedb">
                    <File Id="owfCEF58F74FDA54FBB2889774CFC93D831" Source="$(var.SourceDir)\WebSite\Areas\HelpPage\Views\Help\ResourceModel.cshtml" KeyPath="yes" />
                  </Component>
                  <Directory Id="owd4F99ADAED5365B10A151B5B1CB5169CD" Name="DisplayTemplates">
                    <Component Id="owcF40F217F483E02E654460BFE88845C0C" Guid="6f221d3a-bd85-b978-2864-d2ce61f10480">
                      <File Id="owfF40F217F483E02E654460BFE88845C0C" Source="$(var.SourceDir)\WebSite\Areas\HelpPage\Views\Help\DisplayTemplates\ApiGroup.cshtml" KeyPath="yes" />
                    </Component>
                    <Component Id="owc98D423734D70B226E47CBD83E7E20348" Guid="2f00561c-a76d-0599-31d4-0fa656c5364a">
                      <File Id="owf98D423734D70B226E47CBD83E7E20348" Source="$(var.SourceDir)\WebSite\Areas\HelpPage\Views\Help\DisplayTemplates\CollectionModelDescription.cshtml" KeyPath="yes" />
                    </Component>
                    <Component Id="owc903FD28E7A62967A7F937C3A931CCD38" Guid="2ce4589a-da65-df8a-88d7-038cfa6624ff">
                      <File Id="owf903FD28E7A62967A7F937C3A931CCD38" Source="$(var.SourceDir)\WebSite\Areas\HelpPage\Views\Help\DisplayTemplates\ComplexTypeModelDescription.cshtml" KeyPath="yes" />
                    </Component>
                    <Component Id="owcB3F39531CF4BB63352D909EB05BA51D0" Guid="bcbf5a7f-4440-3bac-10a5-3b27e63e1caf">
                      <File Id="owfB3F39531CF4BB63352D909EB05BA51D0" Source="$(var.SourceDir)\WebSite\Areas\HelpPage\Views\Help\DisplayTemplates\DictionaryModelDescription.cshtml" KeyPath="yes" />
                    </Component>
                    <Component Id="owc4674F94853B572C9A1361353F8C8E479" Guid="33621970-11cf-51a9-fd39-683b4735a7ab">
                      <File Id="owf4674F94853B572C9A1361353F8C8E479" Source="$(var.SourceDir)\WebSite\Areas\HelpPage\Views\Help\DisplayTemplates\EnumTypeModelDescription.cshtml" KeyPath="yes" />
                    </Component>
                    <Component Id="owcB58F4578EC22545B700B97289A950E39" Guid="5ffc4fa8-8b17-d69c-f468-62a05c0ba1fa">
                      <File Id="owfB58F4578EC22545B700B97289A950E39" Source="$(var.SourceDir)\WebSite\Areas\HelpPage\Views\Help\DisplayTemplates\HelpPageApiModel.cshtml" KeyPath="yes" />
                    </Component>
                    <Component Id="owc8E5C762604866CC884B6A320D8C4C312" Guid="22ea8fd2-1eaa-9341-2380-436f01f8e4f4">
                      <File Id="owf8E5C762604866CC884B6A320D8C4C312" Source="$(var.SourceDir)\WebSite\Areas\HelpPage\Views\Help\DisplayTemplates\ImageSample.cshtml" KeyPath="yes" />
                    </Component>
                    <Component Id="owc78BA09BE0F08101AC8035F85D5E02BDF" Guid="59efe8cd-76f9-c823-87b2-e51badc1d549">
                      <File Id="owf78BA09BE0F08101AC8035F85D5E02BDF" Source="$(var.SourceDir)\WebSite\Areas\HelpPage\Views\Help\DisplayTemplates\InvalidSample.cshtml" KeyPath="yes" />
                    </Component>
                    <Component Id="owc05DF57F92DC23DAD132EDD5AFF0D2EFF" Guid="e83a8f6c-785a-093c-936d-93e22e97b743">
                      <File Id="owf05DF57F92DC23DAD132EDD5AFF0D2EFF" Source="$(var.SourceDir)\WebSite\Areas\HelpPage\Views\Help\DisplayTemplates\KeyValuePairModelDescription.cshtml" KeyPath="yes" />
                    </Component>
                    <Component Id="owcE61E3677CE95ADF25D2FF3F1E7502706" Guid="2a46690b-4f44-c31d-b402-16317b852b53">
                      <File Id="owfE61E3677CE95ADF25D2FF3F1E7502706" Source="$(var.SourceDir)\WebSite\Areas\HelpPage\Views\Help\DisplayTemplates\ModelDescriptionLink.cshtml" KeyPath="yes" />
                    </Component>
                    <Component Id="owc9DBB0AC5B31A6CBFD1B12CDA1388A0CB" Guid="70cd5412-1064-bc8c-1596-ddc47314c221">
                      <File Id="owf9DBB0AC5B31A6CBFD1B12CDA1388A0CB" Source="$(var.SourceDir)\WebSite\Areas\HelpPage\Views\Help\DisplayTemplates\Parameters.cshtml" KeyPath="yes" />
                    </Component>
                    <Component Id="owcBE3939E9EA8955D7F4AF25070F4AB05F" Guid="1dfeae56-fc2f-d719-0727-24416243d1b6">
                      <File Id="owfBE3939E9EA8955D7F4AF25070F4AB05F" Source="$(var.SourceDir)\WebSite\Areas\HelpPage\Views\Help\DisplayTemplates\Samples.cshtml" KeyPath="yes" />
                    </Component>
                    <Component Id="owc9A6F6E0086CA092B0F4311F6146791BD" Guid="42cb646e-2157-2568-569d-8217abc0b494">
                      <File Id="owf9A6F6E0086CA092B0F4311F6146791BD" Source="$(var.SourceDir)\WebSite\Areas\HelpPage\Views\Help\DisplayTemplates\SimpleTypeModelDescription.cshtml" KeyPath="yes" />
                    </Component>
                    <Component Id="owc2A3DABA6CC872CF668B24E17BF293249" Guid="dd104323-c629-7215-c50c-9f4db9468a3e">
                      <File Id="owf2A3DABA6CC872CF668B24E17BF293249" Source="$(var.SourceDir)\WebSite\Areas\HelpPage\Views\Help\DisplayTemplates\TextSample.cshtml" KeyPath="yes" />
                    </Component>
                  </Directory>
                </Directory>
                <Directory Id="owd440BB96BB2AC1EA3D05AC1987D112A3A" Name="Shared">
                  <Component Id="owc4594731336FD4E959B9A5F3ED889651B" Guid="0b2cd93b-989b-4b6e-4990-2b54c94888f4">
                    <File Id="owf4594731336FD4E959B9A5F3ED889651B" Source="$(var.SourceDir)\WebSite\Areas\HelpPage\Views\Shared\_Layout.cshtml" KeyPath="yes" />
                  </Component>
                </Directory>
              </Directory>
            </Directory>
          </Directory>
          <Directory Id="owdB32559087C7B190032A3F036BB617D42" Name="bin">
            <Component Id="owc9A883F2542182D2AF312F98F089A97A9" Guid="6c7e1bc7-3803-5e08-a39c-132e34dbd9f1">
              <File Id="owf9A883F2542182D2AF312F98F089A97A9" Source="$(var.SourceDir)\WebSite\bin\Antlr3.Runtime.dll" KeyPath="yes" />
            </Component>
            <Component Id="owc55A44F354086220C68B0B327295A282D" Guid="2f2814c7-ee56-806d-93c9-336cb5ba3108">
              <File Id="owf55A44F354086220C68B0B327295A282D" Source="$(var.SourceDir)\WebSite\bin\EntityFramework.dll" KeyPath="yes" />
            </Component>
            <Component Id="owc9D287C1F90926D17D13A1FF54C3E92A9" Guid="cfb6d982-55a4-1f8d-7a38-d5802432fe54">
              <File Id="owf9D287C1F90926D17D13A1FF54C3E92A9" Source="$(var.SourceDir)\WebSite\bin\EntityFramework.SqlServer.dll" KeyPath="yes" />
            </Component>
            <Component Id="owcA2C67F262A856B2D8CBCB900222BEFE5" Guid="e62ba974-caab-1b1b-2ca3-cd5831ef866f">
              <File Id="owfA2C67F262A856B2D8CBCB900222BEFE5" Source="$(var.SourceDir)\WebSite\bin\Microsoft.AspNet.Identity.Core.dll" KeyPath="yes" />
            </Component>
            <Component Id="owcDB1B778B11503206916C9ADECB580D42" Guid="9f39ee0f-402b-5a5d-e88c-11f765d1f60c">
              <File Id="owfDB1B778B11503206916C9ADECB580D42" Source="$(var.SourceDir)\WebSite\bin\Microsoft.AspNet.Identity.EntityFramework.dll" KeyPath="yes" />
            </Component>
            <Component Id="owc7C6D2D7F7922DF22A2EEF222F872412F" Guid="b386775c-e00d-a19e-6360-ce22faf9019a">
              <File Id="owf7C6D2D7F7922DF22A2EEF222F872412F" Source="$(var.SourceDir)\WebSite\bin\Microsoft.AspNet.Identity.Owin.dll" KeyPath="yes" />
            </Component>
            <Component Id="owc847F960B64BD990428DB34B04B8ED321" Guid="05368d4f-59b0-a7f8-dc37-a4e8506acb8a">
              <File Id="owf847F960B64BD990428DB34B04B8ED321" Source="$(var.SourceDir)\WebSite\bin\Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll" KeyPath="yes" />
            </Component>
            <Component Id="owc9C89A26C6C8083A312957F0BCB8FCE21" Guid="998977ec-792c-4e89-2885-0af136471b31">
              <File Id="owf9C89A26C6C8083A312957F0BCB8FCE21" Source="$(var.SourceDir)\WebSite\bin\Microsoft.Owin.dll" KeyPath="yes" />
            </Component>
            <Component Id="owc2C52036402731CF2A2781D507F8DE424" Guid="0cd065ca-9858-b741-4f68-bd1bcfcc4f3d">
              <File Id="owf2C52036402731CF2A2781D507F8DE424" Source="$(var.SourceDir)\WebSite\bin\Microsoft.Owin.Host.SystemWeb.dll" KeyPath="yes" />
            </Component>
            <Component Id="owc0C3E4BA696A111F30CE09F69DEB40D3F" Guid="d10f6a82-bd05-5007-617b-39afcfbbf629">
              <File Id="owf0C3E4BA696A111F30CE09F69DEB40D3F" Source="$(var.SourceDir)\WebSite\bin\Microsoft.Owin.Security.Cookies.dll" KeyPath="yes" />
            </Component>
            <Component Id="owc7C2F93CA6BFCEF7FCF77C298A7722202" Guid="65f0ec42-54d3-dfc9-50b2-90b849af7e9f">
              <File Id="owf7C2F93CA6BFCEF7FCF77C298A7722202" Source="$(var.SourceDir)\WebSite\bin\Microsoft.Owin.Security.dll" KeyPath="yes" />
            </Component>
            <Component Id="owc17BB10381830AAC0A0B711152ABE94C3" Guid="f4ec2399-0218-88e8-7a74-e03929279a5e">
              <File Id="owf17BB10381830AAC0A0B711152ABE94C3" Source="$(var.SourceDir)\WebSite\bin\Microsoft.Owin.Security.Facebook.dll" KeyPath="yes" />
            </Component>
            <Component Id="owcB52CBB49A6A667D43F29425D3A829862" Guid="6f02b8a3-1c19-ae6b-f0cb-60494e79d42f">
              <File Id="owfB52CBB49A6A667D43F29425D3A829862" Source="$(var.SourceDir)\WebSite\bin\Microsoft.Owin.Security.Google.dll" KeyPath="yes" />
            </Component>
            <Component Id="owc52856854A9EBD5709B0604AD6F6AC87C" Guid="eb58c546-2e1b-1d6b-29d1-f2048f00aab2">
              <File Id="owf52856854A9EBD5709B0604AD6F6AC87C" Source="$(var.SourceDir)\WebSite\bin\Microsoft.Owin.Security.MicrosoftAccount.dll" KeyPath="yes" />
            </Component>
            <Component Id="owcE9555CE32C3C5FFBF7F63EE35E8689DF" Guid="e3e4ec1e-c045-9f9e-6291-908a560f0398">
              <File Id="owfE9555CE32C3C5FFBF7F63EE35E8689DF" Source="$(var.SourceDir)\WebSite\bin\Microsoft.Owin.Security.OAuth.dll" KeyPath="yes" />
            </Component>
            <Component Id="owcF9C622929EFA1C10E5E9A3B9FDF13D01" Guid="b0ac5038-d5a9-d506-63ab-61c2f073b9f8">
              <File Id="owfF9C622929EFA1C10E5E9A3B9FDF13D01" Source="$(var.SourceDir)\WebSite\bin\Microsoft.Owin.Security.Twitter.dll" KeyPath="yes" />
            </Component>
            <Component Id="owc4387E73339A6111CA82A1795C4606065" Guid="89438944-769b-4f60-cd08-040a0cbd6f05">
              <File Id="owf4387E73339A6111CA82A1795C4606065" Source="$(var.SourceDir)\WebSite\bin\Microsoft.Web.Infrastructure.dll" KeyPath="yes" />
            </Component>
            <Component Id="owc0182FC8503E24C53CF549F36AEC5B5DD" Guid="6d6dccc3-ec32-31ca-c500-f9c94cff8ccd">
              <File Id="owf0182FC8503E24C53CF549F36AEC5B5DD" Source="$(var.SourceDir)\WebSite\bin\Newtonsoft.Json.dll" KeyPath="yes" />
            </Component>
            <Component Id="owc06BFE2FFDD7C693E6B1D2487C15D1C9B" Guid="b750e572-051e-ea97-381b-d585acff3ab7">
              <File Id="owf06BFE2FFDD7C693E6B1D2487C15D1C9B" Source="$(var.SourceDir)\WebSite\bin\Owin.dll" KeyPath="yes" />
            </Component>
            <Component Id="owc8E36A2E69E81DC1BA763FC7CF6852075" Guid="61326653-861d-f5dc-4c85-ebd73a904e0c">
              <File Id="owf8E36A2E69E81DC1BA763FC7CF6852075" Source="$(var.SourceDir)\WebSite\bin\System.Net.Http.Formatting.dll" KeyPath="yes" />
            </Component>
            <Component Id="owcAF4EBB03E42407C8FF6EA9F44B91BF4A" Guid="f5bf27d2-ebdd-0e39-8c4f-3ce691a0af16">
              <File Id="owfAF4EBB03E42407C8FF6EA9F44B91BF4A" Source="$(var.SourceDir)\WebSite\bin\System.Web.Helpers.dll" KeyPath="yes" />
            </Component>
            <Component Id="owcFD657D77B609B456EBD0A974B674369C" Guid="ed88d87e-8084-53ae-73e7-7ce3244f0594">
              <File Id="owfFD657D77B609B456EBD0A974B674369C" Source="$(var.SourceDir)\WebSite\bin\System.Web.Http.dll" KeyPath="yes" />
            </Component>
            <Component Id="owc76672A7BAAB7CB9DE13AE437B64698C6" Guid="f0662bf5-a1c5-2606-a94a-b12b867d6ae9">
              <File Id="owf76672A7BAAB7CB9DE13AE437B64698C6" Source="$(var.SourceDir)\WebSite\bin\System.Web.Http.Owin.dll" KeyPath="yes" />
            </Component>
            <Component Id="owcE2065354D01A62300F214BAFAD037BB4" Guid="6c41f27e-6bbe-33c9-fb9d-fa21225957e7">
              <File Id="owfE2065354D01A62300F214BAFAD037BB4" Source="$(var.SourceDir)\WebSite\bin\System.Web.Http.WebHost.dll" KeyPath="yes" />
            </Component>
            <Component Id="owc2A768183ADC870C68DFAA1B2A8DB7B08" Guid="82444942-81b9-257f-562d-751467debfb6">
              <File Id="owf2A768183ADC870C68DFAA1B2A8DB7B08" Source="$(var.SourceDir)\WebSite\bin\System.Web.Mvc.dll" KeyPath="yes" />
            </Component>
            <Component Id="owcDDA6AD1D07835F9ADF6E6E8C0DD1C98A" Guid="f18c022e-e359-a038-efe6-115a2914b489">
              <File Id="owfDDA6AD1D07835F9ADF6E6E8C0DD1C98A" Source="$(var.SourceDir)\WebSite\bin\System.Web.Optimization.dll" KeyPath="yes" />
            </Component>
            <Component Id="owcB0F8E9DFECAACD4F67273967EB69D8AB" Guid="9e4569d5-0ae3-6ebb-b01a-9ed9c35f9ab7">
              <File Id="owfB0F8E9DFECAACD4F67273967EB69D8AB" Source="$(var.SourceDir)\WebSite\bin\System.Web.Razor.dll" KeyPath="yes" />
            </Component>
            <Component Id="owc9167AED3D77A41991495E1C5EBA9C1A2" Guid="7c7fa2ab-89ee-562a-4c86-08b5d1e95fa5">
              <File Id="owf9167AED3D77A41991495E1C5EBA9C1A2" Source="$(var.SourceDir)\WebSite\bin\System.Web.WebPages.Deployment.dll" KeyPath="yes" />
            </Component>
            <Component Id="owcDCF90FC10E3C3176EB06B432AECFC652" Guid="12f731c1-9b18-1755-27a9-a3058b63eba7">
              <File Id="owfDCF90FC10E3C3176EB06B432AECFC652" Source="$(var.SourceDir)\WebSite\bin\System.Web.WebPages.dll" KeyPath="yes" />
            </Component>
            <Component Id="owc46C9F2A8395524D1E2663BCEC9641A4E" Guid="c4ffb011-5219-ff08-24e4-b9f44e400857">
              <File Id="owf46C9F2A8395524D1E2663BCEC9641A4E" Source="$(var.SourceDir)\WebSite\bin\System.Web.WebPages.Razor.dll" KeyPath="yes" />
            </Component>
            <Component Id="owcA05C7B46E2AC9614AAD046570901EADE" Guid="1c5a8803-dff1-89a6-4d29-417d3617fe08">
              <File Id="owfA05C7B46E2AC9614AAD046570901EADE" Source="$(var.SourceDir)\WebSite\bin\WebApp.dll" KeyPath="yes" />
            </Component>
            <Component Id="owc045A956C7D35474B447C567639D5B73F" Guid="db17aff8-e869-0574-abb7-5723bf6e021f">
              <File Id="owf045A956C7D35474B447C567639D5B73F" Source="$(var.SourceDir)\WebSite\bin\WebGrease.dll" KeyPath="yes" />
            </Component>
            <Directory Id="owd896ACCBF1C336A64D4F320A483CD5B91" Name="roslyn">
              <Component Id="owcCE07E4BEEF7E037A0FD752ABA9CA001B" Guid="86bf1bd6-a3bc-531d-b495-d160aad3a282">
                <File Id="owfCE07E4BEEF7E037A0FD752ABA9CA001B" Source="$(var.SourceDir)\WebSite\bin\roslyn\csc.exe" KeyPath="yes" />
              </Component>
              <Component Id="owc60F14469540BFAF75538A256E5CE8E87" Guid="3e2f29d5-2263-ae8c-b9af-27345704134a">
                <File Id="owf60F14469540BFAF75538A256E5CE8E87" Source="$(var.SourceDir)\WebSite\bin\roslyn\Microsoft.Build.Tasks.CodeAnalysis.dll" KeyPath="yes" />
              </Component>
              <Component Id="owc26398355A9F33F67D7DDAD5662040141" Guid="8f5ce5be-2889-4cfb-26d0-9f733b855cd9">
                <File Id="owf26398355A9F33F67D7DDAD5662040141" Source="$(var.SourceDir)\WebSite\bin\roslyn\Microsoft.CodeAnalysis.CSharp.dll" KeyPath="yes" />
              </Component>
              <Component Id="owcB82C6D3779BEF4040B8B3F38011C837F" Guid="37fc871e-5ec6-2d57-2c88-1824b4d7d9ed">
                <File Id="owfB82C6D3779BEF4040B8B3F38011C837F" Source="$(var.SourceDir)\WebSite\bin\roslyn\Microsoft.CodeAnalysis.dll" KeyPath="yes" />
              </Component>
              <Component Id="owc9612D9F6532A2CD1C1AD8B4D3E2C2AEE" Guid="fdf17cb1-1f3e-6aab-9e1f-06356871b025">
                <File Id="owf9612D9F6532A2CD1C1AD8B4D3E2C2AEE" Source="$(var.SourceDir)\WebSite\bin\roslyn\Microsoft.CodeAnalysis.VisualBasic.dll" KeyPath="yes" />
              </Component>
              <Component Id="owcB571CE69DE0B042792C576D5C6AED804" Guid="91edec77-5019-8d8c-affb-0625c2ef5ecd">
                <File Id="owfB571CE69DE0B042792C576D5C6AED804" Source="$(var.SourceDir)\WebSite\bin\roslyn\Microsoft.CSharp.Core.targets" KeyPath="yes" />
              </Component>
              <Component Id="owc7AD142698CFF8B59AC1799C217F9E0AA" Guid="50d519f1-5deb-bd84-11bb-fc3a53b941e9">
                <File Id="owf7AD142698CFF8B59AC1799C217F9E0AA" Source="$(var.SourceDir)\WebSite\bin\roslyn\Microsoft.VisualBasic.Core.targets" KeyPath="yes" />
              </Component>
              <Component Id="owcBE5B6BDF67CF312A233AD1B6E1BC6EC2" Guid="9262775b-4dd2-e7de-bf0c-561df454e111">
                <File Id="owfBE5B6BDF67CF312A233AD1B6E1BC6EC2" Source="$(var.SourceDir)\WebSite\bin\roslyn\System.Collections.Immutable.dll" KeyPath="yes" />
              </Component>
              <Component Id="owc6CCF0DC9482BD67AA3A44FCF142BF3CF" Guid="734e3e63-4432-9f56-4763-10f734960699">
                <File Id="owf6CCF0DC9482BD67AA3A44FCF142BF3CF" Source="$(var.SourceDir)\WebSite\bin\roslyn\System.Reflection.Metadata.dll" KeyPath="yes" />
              </Component>
              <Component Id="owcE07F69EC7C92C6DBFFA9FAF7DB13E291" Guid="cce2bb42-5c21-10ee-34cf-bc41b223cccf">
                <File Id="owfE07F69EC7C92C6DBFFA9FAF7DB13E291" Source="$(var.SourceDir)\WebSite\bin\roslyn\vbc.exe" KeyPath="yes" />
              </Component>
              <Component Id="owc7D1C30685343D5FBD02EEC8AF8A68200" Guid="c9187acc-3a58-dafa-cb60-99a7b7dbed12">
                <File Id="owf7D1C30685343D5FBD02EEC8AF8A68200" Source="$(var.SourceDir)\WebSite\bin\roslyn\VBCSCompiler.exe" KeyPath="yes" />
              </Component>
              <Component Id="owc32EE45A36503654D4F88E6739EAD1511" Guid="f1a5734a-95ab-4e36-739a-9aa289c99995">
                <File Id="owf32EE45A36503654D4F88E6739EAD1511" Source="$(var.SourceDir)\WebSite\bin\roslyn\VBCSCompiler.exe.config" KeyPath="yes" />
              </Component>
            </Directory>
          </Directory>
          <Directory Id="owd38B903AEBC2863D8651D4F7D34F98505" Name="Content">
            <Component Id="owc9B72DEE81C71F353F3780ABA06CF5DC4" Guid="f1f74b41-288b-e847-170f-fab19c662777">
              <File Id="owf9B72DEE81C71F353F3780ABA06CF5DC4" Source="$(var.SourceDir)\WebSite\Content\bootstrap.css" KeyPath="yes" />
            </Component>
            <Component Id="owc428FFDF39E4542336C28B7573F75AC27" Guid="76d28b1f-6092-917d-00bf-bf1a1b0dd7ee">
              <File Id="owf428FFDF39E4542336C28B7573F75AC27" Source="$(var.SourceDir)\WebSite\Content\bootstrap.min.css" KeyPath="yes" />
            </Component>
            <Component Id="owcF38D410F4A78401AD1898C544937C4A8" Guid="0e03ce36-b397-2d1b-0485-74556f3fa48c">
              <File Id="owfF38D410F4A78401AD1898C544937C4A8" Source="$(var.SourceDir)\WebSite\Content\Site.css" KeyPath="yes" />
            </Component>
          </Directory>
          <Directory Id="owd83821E69C9154A6EE11D43F2B0D38D9C" Name="fonts">
            <Component Id="owc37AE2CAFE70C82EE22D50BF60A889912" Guid="009e1a1c-26f9-fb7e-e1a2-e5e4d3371e1e">
              <File Id="owf37AE2CAFE70C82EE22D50BF60A889912" Source="$(var.SourceDir)\WebSite\fonts\glyphicons-halflings-regular.eot" KeyPath="yes" />
            </Component>
            <Component Id="owc8160887B4BB30CF67D482E16A9A32F6D" Guid="d33b31d1-b7a7-58a2-5b41-0fa12a589131">
              <File Id="owf8160887B4BB30CF67D482E16A9A32F6D" Source="$(var.SourceDir)\WebSite\fonts\glyphicons-halflings-regular.svg" KeyPath="yes" />
            </Component>
            <Component Id="owc80B7DBDA94557254DA8B9421BDAE2082" Guid="80e54ff5-00f1-4010-be17-2ebc116a1203">
              <File Id="owf80B7DBDA94557254DA8B9421BDAE2082" Source="$(var.SourceDir)\WebSite\fonts\glyphicons-halflings-regular.ttf" KeyPath="yes" />
            </Component>
            <Component Id="owc0D560545FD6B0EC1F1C70B7D4E4052D7" Guid="834dfbb1-55f1-7ba6-cbca-bd17db258c87">
              <File Id="owf0D560545FD6B0EC1F1C70B7D4E4052D7" Source="$(var.SourceDir)\WebSite\fonts\glyphicons-halflings-regular.woff" KeyPath="yes" />
            </Component>
          </Directory>
          <Directory Id="owdABB8F88659B2DDF3542E10F1A72771DB" Name="Scripts">
            <Component Id="owc7499975D07FCB3963BA209C9E16E713D" Guid="a711b870-ae2d-3178-640d-097ad9242d25">
              <File Id="owf7499975D07FCB3963BA209C9E16E713D" Source="$(var.SourceDir)\WebSite\Scripts\_references.js" KeyPath="yes" />
            </Component>
            <Component Id="owcA7F0CAB2D5869B4F583EFB443673B592" Guid="b7b4564e-36d5-3dcc-8450-610d1cbfe2f9">
              <File Id="owfA7F0CAB2D5869B4F583EFB443673B592" Source="$(var.SourceDir)\WebSite\Scripts\bootstrap.js" KeyPath="yes" />
            </Component>
            <Component Id="owc89D6D3ADFD302E1945170DFA3D12E56A" Guid="a8a29160-1686-1f66-615c-dfb8978e42e7">
              <File Id="owf89D6D3ADFD302E1945170DFA3D12E56A" Source="$(var.SourceDir)\WebSite\Scripts\bootstrap.min.js" KeyPath="yes" />
            </Component>
            <Component Id="owcCA4C445BC20AAE02202BC3AEC2850F3D" Guid="60f05f37-0ae1-ed3f-a646-ce8b924f8c45">
              <File Id="owfCA4C445BC20AAE02202BC3AEC2850F3D" Source="$(var.SourceDir)\WebSite\Scripts\jquery-1.10.2.js" KeyPath="yes" />
            </Component>
            <Component Id="owcF57B90C7FD350EE1DC4FAF11F7BFA211" Guid="3878bdd6-4c68-301e-9628-cd87ad910bbd">
              <File Id="owfF57B90C7FD350EE1DC4FAF11F7BFA211" Source="$(var.SourceDir)\WebSite\Scripts\jquery-1.10.2.min.js" KeyPath="yes" />
            </Component>
            <Component Id="owcAFD8A7F8FED594B68A415F39874ABECB" Guid="6554f2cf-0c58-7cc0-e56e-6d1e1b5f4785">
              <File Id="owfAFD8A7F8FED594B68A415F39874ABECB" Source="$(var.SourceDir)\WebSite\Scripts\jquery-1.10.2.min.map" KeyPath="yes" />
            </Component>
            <Component Id="owc7F83A1F29C360726C696D4DD0D68BB84" Guid="0d633a51-2280-4dca-099a-e6af3f56649c">
              <File Id="owf7F83A1F29C360726C696D4DD0D68BB84" Source="$(var.SourceDir)\WebSite\Scripts\knockout.validation.debug.js" KeyPath="yes" />
            </Component>
            <Component Id="owc6366EF53F71393D916757089EF2FAAB3" Guid="be3c3854-9074-bd78-70b2-edc9cca4cdd2">
              <File Id="owf6366EF53F71393D916757089EF2FAAB3" Source="$(var.SourceDir)\WebSite\Scripts\knockout.validation.js" KeyPath="yes" />
            </Component>
            <Component Id="owc5709311D8B7C5F8308FC9E8C7515420F" Guid="8f98235c-0ff4-ba5f-4455-70cf0d448d02">
              <File Id="owf5709311D8B7C5F8308FC9E8C7515420F" Source="$(var.SourceDir)\WebSite\Scripts\knockout-2.3.0.debug.js" KeyPath="yes" />
            </Component>
            <Component Id="owcC3939F247A982781E9401F66A8A90E7C" Guid="120a5e18-3089-1df1-e4a0-11f7510c4720">
              <File Id="owfC3939F247A982781E9401F66A8A90E7C" Source="$(var.SourceDir)\WebSite\Scripts\knockout-2.3.0.js" KeyPath="yes" />
            </Component>
            <Component Id="owcF61B39AD32171621980602F63BFD3D7C" Guid="3bfefad7-31bd-d99c-34bb-322176e33030">
              <File Id="owfF61B39AD32171621980602F63BFD3D7C" Source="$(var.SourceDir)\WebSite\Scripts\modernizr-2.6.2.js" KeyPath="yes" />
            </Component>
            <Component Id="owc2A18A0C0CC771E65329520885CA7E10F" Guid="52cb77c0-3642-0f42-8830-10a8f9cd0b0f">
              <File Id="owf2A18A0C0CC771E65329520885CA7E10F" Source="$(var.SourceDir)\WebSite\Scripts\respond.js" KeyPath="yes" />
            </Component>
            <Component Id="owc7D398059DC9A3812541A7B976779766F" Guid="f528d483-f521-d8a1-d097-08b2bef20f5e">
              <File Id="owf7D398059DC9A3812541A7B976779766F" Source="$(var.SourceDir)\WebSite\Scripts\respond.min.js" KeyPath="yes" />
            </Component>
            <Component Id="owc3C1C8F3A6BFAD3B627D456262527D679" Guid="112df19e-7623-fa29-360a-fe23a7a5ecac">
              <File Id="owf3C1C8F3A6BFAD3B627D456262527D679" Source="$(var.SourceDir)\WebSite\Scripts\sammy-0.7.4.js" KeyPath="yes" />
            </Component>
            <Component Id="owc895971EC10F596138F2459D31AFFDD59" Guid="ad829ae5-0109-35a3-cd0d-3ce9fe3f3018">
              <File Id="owf895971EC10F596138F2459D31AFFDD59" Source="$(var.SourceDir)\WebSite\Scripts\sammy-0.7.4.min.js" KeyPath="yes" />
            </Component>
            <Directory Id="owd8F46F1CC1E5E88665C820A2C1B3F311A" Name="app">
              <Component Id="owc43D0453FD022ECABFE825A4A2444E907" Guid="05b291c7-d21b-9842-c507-4eb309614bfd">
                <File Id="owf43D0453FD022ECABFE825A4A2444E907" Source="$(var.SourceDir)\WebSite\Scripts\app\_run.js" KeyPath="yes" />
              </Component>
              <Component Id="owcF8EB5476F788B06690B367227A8EE45E" Guid="358348ab-76c4-9280-5e28-0794256acb42">
                <File Id="owfF8EB5476F788B06690B367227A8EE45E" Source="$(var.SourceDir)\WebSite\Scripts\app\app.datamodel.js" KeyPath="yes" />
              </Component>
              <Component Id="owc9B0B242610C7DB7FC74B7AA1A0936754" Guid="413f8d3b-bc9a-8411-eace-227ebd70259b">
                <File Id="owf9B0B242610C7DB7FC74B7AA1A0936754" Source="$(var.SourceDir)\WebSite\Scripts\app\app.viewmodel.js" KeyPath="yes" />
              </Component>
              <Component Id="owcFA50E77ECA4ED06C0EDEC3E2A6DC6B99" Guid="52f16bb5-42a1-5aa3-1922-2933e9ba2a74">
                <File Id="owfFA50E77ECA4ED06C0EDEC3E2A6DC6B99" Source="$(var.SourceDir)\WebSite\Scripts\app\common.js" KeyPath="yes" />
              </Component>
              <Component Id="owcF2DE3E97600A605CD2C9CE3371025722" Guid="222aa6bd-3aa7-1751-119a-d507d7de432b">
                <File Id="owfF2DE3E97600A605CD2C9CE3371025722" Source="$(var.SourceDir)\WebSite\Scripts\app\home.viewmodel.js" KeyPath="yes" />
              </Component>
            </Directory>
          </Directory>
          <Directory Id="owdF54F65428C16CFC0654F10262D2E2B2B" Name="Views">
            <Component Id="owc8E019FA4EB01CB18143C33C0558E760B" Guid="e8485753-0997-d2bf-2227-cd6aaa882dcb">
              <File Id="owf8E019FA4EB01CB18143C33C0558E760B" Source="$(var.SourceDir)\WebSite\Views\_ViewStart.cshtml" KeyPath="yes" />
            </Component>
            <Component Id="owc3561BE16853AD220CE460495632A97DA" Guid="25e21758-fe14-dfc0-b5d3-51d7a0676aea">
              <File Id="owf3561BE16853AD220CE460495632A97DA" Source="$(var.SourceDir)\WebSite\Views\Web.config" KeyPath="yes" />
            </Component>
            <Directory Id="owdD86E0BF6E9BEC09B8C87CC26FCB09190" Name="Account">
              <Component Id="owc340525BD4BD1153943220C893D0B54AC" Guid="8e557b46-f858-d6bb-8169-0d95206df587">
                <File Id="owf340525BD4BD1153943220C893D0B54AC" Source="$(var.SourceDir)\WebSite\Views\Account\_ExternalLoginsListPartial.cshtml" KeyPath="yes" />
              </Component>
              <Component Id="owcBD51E18B0B2986BCA41014D3FB02473C" Guid="1fe836f7-3773-f828-99a9-c6dbb21c3cc7">
                <File Id="owfBD51E18B0B2986BCA41014D3FB02473C" Source="$(var.SourceDir)\WebSite\Views\Account\ConfirmEmail.cshtml" KeyPath="yes" />
              </Component>
              <Component Id="owcBBCC2EEAEE0F0C47EAF814FE4AAB277E" Guid="a392e497-8030-bd1a-2987-9b87bbe8fbf0">
                <File Id="owfBBCC2EEAEE0F0C47EAF814FE4AAB277E" Source="$(var.SourceDir)\WebSite\Views\Account\ExternalLoginConfirmation.cshtml" KeyPath="yes" />
              </Component>
              <Component Id="owcC056D40BD448CD71A12A5C5E4AF612F9" Guid="7d9d1c11-5b1b-0b46-8050-a6b00123efba">
                <File Id="owfC056D40BD448CD71A12A5C5E4AF612F9" Source="$(var.SourceDir)\WebSite\Views\Account\ExternalLoginFailure.cshtml" KeyPath="yes" />
              </Component>
              <Component Id="owc839E2A70228E0DF60F10F1688DD7EEFC" Guid="5e245e88-a2a5-d6c3-f6b9-31cea55bc9a0">
                <File Id="owf839E2A70228E0DF60F10F1688DD7EEFC" Source="$(var.SourceDir)\WebSite\Views\Account\ForgotPassword.cshtml" KeyPath="yes" />
              </Component>
              <Component Id="owcB19A2B2B8CAF7EE649CFCCD7EEF9A3B2" Guid="cd219751-9431-9ffa-c559-5937dcf0e765">
                <File Id="owfB19A2B2B8CAF7EE649CFCCD7EEF9A3B2" Source="$(var.SourceDir)\WebSite\Views\Account\ForgotPasswordConfirmation.cshtml" KeyPath="yes" />
              </Component>
              <Component Id="owcB8057B890BFBB526A0A405342EE8DECC" Guid="db95eef7-a90b-7035-3a1a-38185d72b54f">
                <File Id="owfB8057B890BFBB526A0A405342EE8DECC" Source="$(var.SourceDir)\WebSite\Views\Account\Login.cshtml" KeyPath="yes" />
              </Component>
              <Component Id="owc07817D4DDD12428E62C3CA5DF1A084F1" Guid="ecd6ae52-a61d-a95f-c6df-41be686a517a">
                <File Id="owf07817D4DDD12428E62C3CA5DF1A084F1" Source="$(var.SourceDir)\WebSite\Views\Account\Register.cshtml" KeyPath="yes" />
              </Component>
              <Component Id="owc30B7B02B21CACFDA8E7E3C33A0B53231" Guid="4e8a5ee3-af1c-d75c-f5a3-653541959da0">
                <File Id="owf30B7B02B21CACFDA8E7E3C33A0B53231" Source="$(var.SourceDir)\WebSite\Views\Account\ResetPassword.cshtml" KeyPath="yes" />
              </Component>
              <Component Id="owc21CE8B64BBAA7F6D4672CAC68B74BCE9" Guid="eaf6150e-5981-3273-87ab-8834ba2fa2df">
                <File Id="owf21CE8B64BBAA7F6D4672CAC68B74BCE9" Source="$(var.SourceDir)\WebSite\Views\Account\ResetPasswordConfirmation.cshtml" KeyPath="yes" />
              </Component>
              <Component Id="owc79870191AA353FBA9D525603757ECA21" Guid="29ae37fc-b2ff-d3a9-bc34-1a473c766a7d">
                <File Id="owf79870191AA353FBA9D525603757ECA21" Source="$(var.SourceDir)\WebSite\Views\Account\SendCode.cshtml" KeyPath="yes" />
              </Component>
              <Component Id="owc8591B4B442861493360A8C1535C3CC51" Guid="6156fb45-a929-7023-625b-9c6ac04b251f">
                <File Id="owf8591B4B442861493360A8C1535C3CC51" Source="$(var.SourceDir)\WebSite\Views\Account\VerifyCode.cshtml" KeyPath="yes" />
              </Component>
            </Directory>
            <Directory Id="owdD571DB8DC993D90590FB5CA20E890DD3" Name="Home">
              <Component Id="owcD80A75AE76A139D1CF316F926BC76B54" Guid="7187df5f-1539-660e-b3bf-a647ac96d62b">
                <File Id="owfD80A75AE76A139D1CF316F926BC76B54" Source="$(var.SourceDir)\WebSite\Views\Home\_Home.cshtml" KeyPath="yes" />
              </Component>
              <Component Id="owc166465BB218B09C523D201212E026B4B" Guid="26e15b96-3dfc-9387-c57d-6e93fb0bb9af">
                <File Id="owf166465BB218B09C523D201212E026B4B" Source="$(var.SourceDir)\WebSite\Views\Home\Index.cshtml" KeyPath="yes" />
              </Component>
            </Directory>
            <Directory Id="owdD8E22E106CD23B1AD5E3191A0E3994D9" Name="Manage">
              <Component Id="owcB8AB8862EA435C02CD5788C44BAA86EC" Guid="6502a3cb-f295-14e6-6abc-a9431efbe71d">
                <File Id="owfB8AB8862EA435C02CD5788C44BAA86EC" Source="$(var.SourceDir)\WebSite\Views\Manage\AddPhoneNumber.cshtml" KeyPath="yes" />
              </Component>
              <Component Id="owc0E6B320E922A76E45A5D434C64AD47A9" Guid="c5b32553-02a9-a320-0e80-ecb345c83449">
                <File Id="owf0E6B320E922A76E45A5D434C64AD47A9" Source="$(var.SourceDir)\WebSite\Views\Manage\ChangePassword.cshtml" KeyPath="yes" />
              </Component>
              <Component Id="owcF8D83583CEEBCC1544B03177B30FAD1D" Guid="19ea6d12-d19c-0d2e-659a-fef30a1edfb4">
                <File Id="owfF8D83583CEEBCC1544B03177B30FAD1D" Source="$(var.SourceDir)\WebSite\Views\Manage\Index.cshtml" KeyPath="yes" />
              </Component>
              <Component Id="owcDBE3FD08508D47237BE77C098D282900" Guid="76ed59b2-ffcf-9622-1cba-01c6e2c4b381">
                <File Id="owfDBE3FD08508D47237BE77C098D282900" Source="$(var.SourceDir)\WebSite\Views\Manage\ManageLogins.cshtml" KeyPath="yes" />
              </Component>
              <Component Id="owcD504DF23C90245ADDFE2CEE6109B40AD" Guid="5b1849b7-76f9-ba8d-861c-d642c2c9df39">
                <File Id="owfD504DF23C90245ADDFE2CEE6109B40AD" Source="$(var.SourceDir)\WebSite\Views\Manage\SetPassword.cshtml" KeyPath="yes" />
              </Component>
              <Component Id="owcA94BC33AAFB0623C80EE395050899CAA" Guid="f33ae8ce-dc2e-d06b-8256-63f5a8789f23">
                <File Id="owfA94BC33AAFB0623C80EE395050899CAA" Source="$(var.SourceDir)\WebSite\Views\Manage\VerifyPhoneNumber.cshtml" KeyPath="yes" />
              </Component>
            </Directory>
            <Directory Id="owd75DC7140F18963A7A78F2A6A3B48935A" Name="Shared">
              <Component Id="owc74E9F5C305AC8A87CEE861101BB34107" Guid="216d4df8-5ae3-1fe7-72ee-ea31e1410aca">
                <File Id="owf74E9F5C305AC8A87CEE861101BB34107" Source="$(var.SourceDir)\WebSite\Views\Shared\_Layout.cshtml" KeyPath="yes" />
              </Component>
              <Component Id="owcDDC7EBC7DBD5C9A19AC81D91E0D7C1C7" Guid="503f1d9b-ada7-dc55-4933-1b9fc76dd5c2">
                <File Id="owfDDC7EBC7DBD5C9A19AC81D91E0D7C1C7" Source="$(var.SourceDir)\WebSite\Views\Shared\_LoginPartial.cshtml" KeyPath="yes" />
              </Component>
              <Component Id="owc6B2321567CBE41DCF648EB04E6E55891" Guid="ce4855ce-703f-2b0b-a29a-00eb9f4fcd1d">
                <File Id="owf6B2321567CBE41DCF648EB04E6E55891" Source="$(var.SourceDir)\WebSite\Views\Shared\Error.cshtml" KeyPath="yes" />
              </Component>
              <Component Id="owc4289AE26DA691B99E15D76AE66B3A70F" Guid="167cd545-16ec-2a93-9635-e1525b766b80">
                <File Id="owf4289AE26DA691B99E15D76AE66B3A70F" Source="$(var.SourceDir)\WebSite\Views\Shared\Lockout.cshtml" KeyPath="yes" />
              </Component>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    <ComponentGroupRef Id="Custom" />
  </Module>
</Wix>