<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:msix="http://www.firegiant.com/schemas/v4/wxs/heatwave/buildtools/msix">
  <!-- 
  MSIProductVersion is defined in DesktopApplication.wixproj as 0.0.1 for local desktop builds.  
  You should pass in the MSBuild Property 'MSIProductVersion' to override it during an automated build.
  See http://msdn.microsoft.com/en-us/library/windows/desktop/aa370859%28v=vs.85%29.aspx for information on allowable values.
  
  The Product@Id attribute (ProductCode Property) will be a random GUID for each build.  This is to support "Major Upgrades" where each install 
  is a seamless uninstall/reinstall.
  -->
  <Package Name="DesktopApplication" Language="1033" Version="$(var.MSIProductVersion)" Manufacturer="DesktopApplication" UpgradeCode="1917ffa0-0680-4cef-a6d3-f2c53bc9c0a5">
    <SummaryInformation />
    <MediaTemplate EmbedCab="yes" />
    <!-- Major Upgrade Rule to disallow downgrades -->
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <!-- Uncomment below two lines to require .NET 4.8 or Later to install -->
    <!-- <PropertyRef Id="WIX_IS_NETFRAMEWORK_48_OR_LATER_INSTALLED" /> -->
    <!-- <Launch Condition="Installed OR WIX_IS_NETFRAMEWORK_48_OR_LATER_INSTALLED" Message="[ProductName] requires .NET Framework 4.8 or later." /> -->
    <Icon Id="Icon.ico" SourceFile="Resources\Icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="Icon.ico"></Property>
    <Property Id="DISABLEADVTSHORTCUTS" Value="1"></Property>
    <msix:Msix Id="DesktopApplication" Publisher="CN=ISWIX LLC, O=ISWIX LLC, STREET=505 Hickory Run Drive, L=Cedar Park, S=Texas, PostalCode=78613, C=US" Target="desktop" />
    <UIRef Id="UI" />
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="CompanyFolder" Name="My Company">
        <Directory Id="INSTALLLOCATION" Name="DesktopApplication" />
      </Directory>
    </StandardDirectory>
    <Feature Id="DesktopApplication" Title="DesktopApplication" Description="Installs all the files needed for DesktopApplication" Level="1" AllowAdvertise="no" ConfigurableDirectory="INSTALLLOCATION">
      <ComponentGroupRef Id="DesktopApplicationFiles" />
      <!-- Uncomment the below line to pull in IIS Metadata.  Otherwise delete if not needed -->
      <!--<ComponentGroupRef Id="webSite" />-->
    </Feature>
  </Package>
</Wix>